body.dark-mode {
    background-color: #121212;
    color: #ffffff;
}

.dark-mode .card,
.dark-mode .table {
    background-color: #1e1e1e;
    color: #ffffff;
}

.dark-mode .form-control,
.dark-mode .form-select {
    background-color: #2a2a2a;
    color: #aaa2a2;
    border-color: #444;
}

.dark-mode .form-control::placeholder {
    color: #a9a1a1;   /* or whatever fits your theme */
    opacity: 1;    /* Firefox fix */
}

.dark-mode .navbar {
    background-color: #000 !important;
}

.dark-mode .btn-secondary {
    background-color: #444;
    border: none;
}